.wrapper-content {
    padding: 20px 10px 40px;
}
.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.product-box {
    padding: 0;
    border: 1px solid #e7eaec;
}
.product-imitation {
    text-align: center;
    background-color: #f8f8f9;
    color: #bebec3;
    font-weight: 600;
}

.product-desc {
    padding: 20px;
    position: relative;
}

.m-t {
	margin-top: 15px;
}

.well {
	min-height: 20px;
	padding: 19px;
    padding-bottom: 5px;
	margin-bottom: 15px;
    /*margin-right: 13px;*/
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}