/* Custom Css*/
::-webkit-scrollbar {
    width: 15px;
}
a:hover{
    color: #d20171;
}
.top-nav{
     background: #0371d2;
}
.today-date, .top-nav ul li a{
         color: #fff;
}
.top-nav ul li:hover > a, .top-nav ul:hover > a, .top-nav ul li.current-menu-item a {
    color: #fff;
}
.header-content {
    padding: 0px 15px;
}
.e3lan-top {   
    margin: 20px 0;
}
#main-nav ul li a{
    text-transform: uppercase !important;
}
.top-nav .social-icons a {
    color: #fff;
}
ul.banner-area-ul {
    display: block;
}
.banner-area-ul li{
 display: inline-block;
     margin-left: 8px;
}
ul.banner-area-ul li a {  
    display: block; 
    color: #fff;
    font-weight: 600;
    padding: 10px;
    font-size: 19px;
    border-radius: 50%;
}
ul.banner-area-ul li img {
    width: 25px;
    height: 25px;
    margin: 0 auto;
}
.orange, ul.banner-area-ul li:nth-child(1) a{
    background: #0371d2;
}
ul.banner-area-ul li:nth-child(1) a:hover{
    background: #f37736;
}
.red, ul.banner-area-ul li:nth-child(2) a, ul.banner-area-ul li:nth-child(4) a:hover{
    background: #ee1d24;
}
.green, ul.banner-area-ul li:nth-child(3) a, ul.banner-area-ul li:nth-child(5) a:hover{
    background: #71a300;
}
.mov, ul.banner-area-ul li:nth-child(4) a, ul.banner-area-ul li:nth-child(2) a:hover{
    background: #7200d2;
}
.magenta, ul.banner-area-ul li:nth-child(5) a, ul.banner-area-ul li:nth-child(3) a:hover{
    background: #d20171;
}

.boxed-all #theme-header.fixed-header {
    position: fixed !important;
    top: 0;
    /* z-index: 999999; */
    z-index: 100;
}
#main-nav ul li.menu-item-home a, #main-nav ul li.menu-item-home a:hover {    
    background-position: center 10px;
}
#main-nav ul li.menu-item-home:hover{
	background: #ff0507;
}
body.admin-bar #theme-header.fixed-header {
   top: 32px;
}
#main-nav ul#menu-main-nav-menu li:nth-child(2) a{
	background: #71a300;
}
#main-nav ul#menu-main-nav-menu li:nth-child(3) a{
	background: #0371d2;
}
#main-nav ul#menu-main-nav-menu li:nth-child(4) a{
	background: #f37736;
}
#main-nav ul#menu-main-nav-menu li:nth-child(5) a{
	background: #ee4035;
}
#main-nav ul#menu-main-nav-menu li:nth-child(6) a{
	background: #7200d2;
}
#main-nav ul#menu-main-nav-menu li:nth-child(7) a{
	background: #d20171;
}
#main-nav ul li a:hover{
  background: url(images/menu-bg.jpg) repeat;
}
#main-nav ul#menu-main-nav-menu li.current-menu-item  > a{
	color: #ffe637;
}
.service-provider-form .col6 {
    width: 49%;
    display: inline-block;
    padding-right: 15px; 
	margin-bottom: 15px;
}
.service-provider-form .col12 {
    width: 100%;
    display: block; 
    margin-top: 15px;	
}
.service-provider-form input[type=text], .service-provider-form select{
	width: 100%;
}
.service-provider-form input[type=button] {
    padding: 5px 15px;
	margin-right: 15px;
}
.tie-hide, .lazy-enabled #main-content .post-thumbnail, .lazy-enabled #theme-footer div.post-thumbnail, .lazy-enabled #main-content img, .lazy-enabled #featured-posts{
	opacity: 1;
}
.toggle h3 {
    background: #d6d6d6;
}
.toggle-content {
    background: #fff;
}
/******* Home page sample 2*********/
.wide-layout #theme-header.fixed-header {
    position: fixed !important;
    top: 0;
    /* z-index: 999999; */
    z-index: 999;
	left: 0;
    right: 0;
}
.page-id-731 .tie-hide, 
.page-id-731.lazy-enabled #main-content .post-thumbnail, 
.page-id-731.lazy-enabled #theme-footer div.post-thumbnail, 
.page-id-731.lazy-enabled #main-content img,
.page-id-731.lazy-enabled #featured-posts{
	opacity: 1;
}
.page-id-731 a {
    color: #e26215;
}
.page-id-731 .cat-box-content, .page-id-731 #sidebar .widget-container, .page-id-731 .post-listing, #commentform {
    border-bottom-color: #71a300;
}
.page-id-731 a.more-link{
	background-color: #d20171;
}
.page-id-731 #menu-item-706{
	margin-top: -5px;
    height: 52px;
    border-width: 0;
	background: #ff0507;
}
.page-id-731 .featured-title a, 
.page-id-731 .footer-bottom a:hover{
	color: #fff;
}
.page-id-731 .footer-bottom a {
    color: #ccc;
}
.page-id-731 .content {
    width: 70%;
    padding: 0 15px;
}
.page-id-731 #sidebar {  
    width: 30%;
    padding: 0 15px;
}
.page-id-731 #sidebar .flexslider {
    width: 100%;
}
.page-id-731 #wrapper.wide-layout .breaking-news, 
.page-id-731 #wrapper.wide-layout .container {
    width: auto;
}

.content {
    width: 70%;
    padding: 0 15px;
}
/* #sidebar {   */
    /* width: 30%; */
    /* padding: 0 15px; */
/* } */
#sidebar .flexslider {
    width: 100%;
}
.breaking-news ul span {
    padding: 8px;
    display: block;
    white-space: nowrap;
    font-family: tahoma;
    background: #FFF;
}

/******* ./Home page sample 2 *****/
span.current {
    /* color: #eb4924; */
    color: #d20171;
}
.post-title {    
    color: #f43d2a;
    border-bottom: 1px dotted;
}
/* #topcontrol{ */
	/* bottom: 65px; */
/* } */
.read-more{
	color: #f37736;
}
.read-more:hover{
	color: #d20171;
}

.wpcf7-form textarea, .wpcf7-form input[type=text], .wpcf7-form input[type=password], .wpcf7-form input[type=email], .wpcf7-form input[type=url], .wpcf7-form input[type=tel], .wpcf7-form input[type=number], .wpcf7-form input[type=date], .wpcf7-form input[type=file], .wpcf7-form input[type=search], .wpcf7-form input[type=color], .wpcf7-form input[type=datetime], .wpcf7-form input[type=datetime-local], .wpcf7-form input[type=month], .wpcf7-form input[type=range], .wpcf7-form input[type=time], .wpcf7-form input[type=week], .wpcf7-form select{
	width: 100%;
}
.footer-bottom .footer-menu, .footer-bottom  .copyright {
    display: inline-block;
    width: 45%;
}
/*
.featured-title {
    display: none;
}*/
#featured-posts ul.flex-direction-nav {
    display: none;
}
#topcontrol{
	right: 14px;
}


/**
 * Reponsive
 * -----------------------------------------------------------------------------
 */
 
@media (min-width: 990px){
	.content {    
		min-height: 1000px;
	}
}
@media (max-width: 990px){
	.footer-bottom .footer-menu, .footer-bottom .copyright {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	/* .footer-bottom .copyright { */
		/* margin-bottom: 30px; */
	/* } */
	.wide-layout #theme-header.fixed-header {
		position: relative !important;
	}
	.footer-bottom {
		line-height: 35px; 
	}
	/* #topcontrol{ */
		/* display: none; */
	/* } */
}




#ac-wrapper,  #modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1001;
    text-align: center;
}

#popup{
	color: #FFFFFF;
	position: relative;
	top: 150px; 
	text-align: center;
	display: inline-block;
	padding: 15px;
	    overflow-y: scroll;
    max-height: 300px;
	/* border: 1px solid #6b6b6b; */
}
.pop-btn{
    margin: 10px 20px;
    padding: 8px 20px;
    border-radius: 2px;
    font-size: 16px;    
    color: #fff;
    font-weight: 600;
    border: 1px solid transparent;
}
.pop-btn-yes{   
    background: #71a300;  
    margin-right: 10px; 
}
.pop-btn-no{   
    background: #ee1d24;   
    margin-left: 10px;
}
.pop-btn-yes:hover{
  background: transparent; 
  color: #71a300;   
  border: 1px solid;
}
.pop-btn-no:hover{   
    background: transparent;   
    color: #ee1d24;   
    border: 1px solid;
}

#modal {
	display: none;
}
#modalmsg {
    margin: 0 auto;    
    position: relative;
    text-align: center;
    top: 100px;
    background: #fff;
	color: #666;
    /* width: 50%;    
    height: 100px; */
	max-width: 600px;
    padding: 15px;
	border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
	-webkitbox-shadow: 0 5px 15px rgba(0,0,0,.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
#modalmsg h2{
	padding-top: 15px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
	border-bottom: 1px solid;
}
#modalmsg .close {
    cursor: pointer;
    float: right;
    color: #fff;
    font-weight: bold;
    background: #ff0400;
    font-size: 10px;
    padding: 4px 6px;
    border-radius: 50%;
}

form#commentform{
	display: flex;
    flex-direction: column;
}
.comment-notes{
	order: 0;
	display: none;
}
.comment-notes-after{
	order: 3;
}
.comment-form-comment{
	order: 1;
}
.comment-form-author{
	order: 2;
}
.comment-form-email{
	order: 4;
}
.comment-form-phone{
	order: 5;
}
.comment-form-url{
	order: 6;
}
.form-submit{
	order: 7;
}
p.comment-form-comment label:after {
    content: '*';
    color: red;
    padding-left: 5px;
}
.testimonials-widget-testimonial.list{
	border-bottom: 1px dotted #ccc;
    padding-bottom: 15px;
}
.testimonials-widget-testimonial .image img{
	border-radius: 50%;
    margin: 0 10px 10px;
	border: 1px solid #eee;
}
#main-nav ul li.menu-item-home a{
	background-color: #ff0400;
}

/***********For Saathi Css**************/
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb>li.active {
    color: #777;
}
.breadcrumb>li.active a{
    color: #0371d2;
}
ol .active {
    font-weight: bold;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb>li:after {
    content: '/';
    color: #aaa;
}
.breadcrumb>li:last-child::after {
    content: '';
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    /* margin-left: -1px; */
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.wrapper-content {
    padding: 20px 10px 40px;
}
.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.product-box {
    padding: 0;
    border: 1px solid #e7eaec;
}
.product-imitation {
    text-align: center;
    background-color: #f8f8f9;
    color: #bebec3;
    font-weight: 600;
}

.product-desc {
    padding: 20px;
    position: relative;
	min-height: 84px;
}

.m-t {
	margin-top: 15px;
}

.well {
	min-height: 20px;
	padding: 19px;
    padding-bottom: 5px;
	margin-bottom: 15px;
    /*margin-right: 13px;*/
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default>.panel-heading {
    color: #333;
	/*background-color: #f5f5f5;#0371d2
    color: #fff;*/
    background-color: #d6d6d6;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body {
    padding: 15px;
	background: #f3f3f3;
}
.panel-body div {
    padding: 10px 0;
}

.submit{
	width: auto;
    position: relative;
    background-color: #ff0400;
    color: #FFF;
    padding: 5px 12px;
    font: 12px Tahoma;
    display: inline-block;
    line-height: 22px;
    border: 0 none;
    cursor: pointer;
    text-decoration: none;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}
.submit:hover{
	background-color: #777;
}    
select, .form-group input[type=text], .form-group input[type=password], 
.form-group input[type=number], .form-group input[type=date]{
	width: 100%;
}
.control-label{
	margin: 7px 0;
    display: inline-block;
}
.page-heading h4{
    color: #f43d2a;
    border-bottom: 1px dotted;
    font-family: BebasNeueRegular, arial, Georgia, serif;
    margin-bottom: 10px;
    font-size: 28px;
}

.post-inner .entry{
	max-height: 100vh;
	overflow-y: scroll;
    padding-right: 15px;
}
.post-inner .entry::-webkit-scrollbar {
    width: 8px;
}
#commentform input[type="checkbox"]#wp-comment-cookies-consent{
	width: auto;
}
#commentform .required {
    color: red;
}













